#playground {
    padding-top: 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}
#playground canvas {
    border-radius: 10px;
    border: 2px #e6e6e6 solid;
}